<% include ../partials/header %>
<% include ../partials/header2 %>
<h1>Archived Job Sheets</h1>

<% foundAllocation.forEach(function(allocation){ %>
<% if (allocation.isAllocated == true) { -%>
	<a href="allocations/allocationshow/<%= allocation._id %>"><h1 style="color: #232323;"><%= allocation.time.toDateString() %> </h1></a>
<% } else { -%>
	
<% } -%>
<% }) %>
<% include ../partials/footer %>
