<% include ./partials/header %>
<% include ./partials/header2 %>
<div style="text-align: center; margin-top: 10%" class="container">
    <div class="jumbotron">
        <h1>Shift Management</h1>
        <p>This project is intended to demonstrate my knowledge level of Web Development using EJS templates, Bootstrap, NodeJs (express) and mongoDB with mongoose.js <br>
            Your data will not be used or handed over by the developer or any third party, however the site is under development therefore I recommend you to use dummy registration or play by logging in with test user account. Username: tjoe, Password: tjoe. There is an account with no admin priviliges if you want to see the difference between the 2 users. Username: tmary, Password: tmary.
        </p>
      
        <br>
        <p>I let anybody play around with this system. Any re-use of this code subjected to permission, please contact for more details : Zsolt Kindla, goyslee@gmail.com</p>
        <br>
        <p>For full access to the site please use "invitation" as admin code, invitation code and superuser code if choose to register.</p>
        <hr class="style-four">
        
</div>
</div>
<% include ./partials/footer %>